body{font-family:Arial;text-align:center;background:#f2f2f2}
button{padding:10px;margin:5px;background:green;color:white;border:none}
input,select{padding:10px;margin:5px}
footer{margin-top:40px;font-size:12px}
